# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Database
backend/data/*.sqlite
backend/data/*.sqlite-journal
